.tablebook-container{
    background-size: cover;
    background-position: center;
    display: flex;
}

.bookings {
    padding-top: 100px;
    padding-bottom: 90px;
}

.bookings .buttons{
    margin-left: 550px;
}

.addTableBook h3{
    text-align: center;
     font-weight: bold;
}
.addTableBook{
    width:60%;
    margin: 50px auto;
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0);
}

.bookTableForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bookTableForm .inputGroup label{
    margin-top: 10px;
}

.bookTableForm .inputGroup input{
    margin-top: 8px;
    padding: 10px;
}

.inputGroup button{
    margin-top: 25px;
}


.tablebook-container{
    margin-top: 25px;
}
.btn .btn-primary{
    width: 50%;
}