/* Home Styles*/ 
.hero_section {
    background-image: url("../../../assets/mern2.jpg");
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 170px;
    padding-bottom: 90px;
    height: 100vh;
    background-size: cover;
}

.hero_section .hero_text h1{
    font-size: 3.7rem;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing:3px ;
}

.text-black{
    font-size:90px;
    text-decoration: solid;
}

.hero_text{
    margin-left: -80px;
    margin-top: -50px;
}

.hero_section .hero_text h3{
    padding: 0 5%;
    font-size: 1.8rem;
    color:var(--white);
    text-transform: capitalize;
    padding-top: 30px;
}


/*Home About 2.0*/
.about_section{
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;
}

.about_section h2{
    font-size: 3.5rem;
}

.about_section p{
    color: var(--grey);
    padding: 20px 30px;
    font-size: 19px;
}

.about_wrapper{
    background-color: var(--golden);
    padding-top: 70px;
    padding-bottom: 30px;
}

.about_wrapper img{
    mix-blend-mode: color-burn;
}



/*Media Query Mobiles*/
@media(max-width:767px){
    .hero_section .hero_text h1{
        font-size: 2rem;
    }
    .hero_section .hero_text h3{
        font-size: 1.3rem;
    }
}
