.signup-container{
    background-size: cover;
    background-position: center;
    display: flex;
    height: 105vh;
    
}
.addUser h3{
    text-align: center;
     font-weight: bold;
}
.addUser{
    width:100%;
    margin: 50px auto;
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0);
}

.addUSerForm .inputGroup{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.addUSerForm .inputGroup label{
    margin-top: 10px;
}

.addUSerForm .inputGroup input{
    margin-top: 8px;
    padding: 10px;
}

.inputGroup button{
    margin-top: 25px;
}

.signup{
    margin-top: 25px;
    text-align: center;
}

.login .btn .btn-primary{
    width: 50%;
}